* {
    box-sizing: border-box;
}
body {
    background-color: #10222e;
    color: ivory;
}

.logo {
    width: 20%;
    padding-bottom: 20%;
    background-image: url(logo.jpg);
    background-position: center;
    background-size: cover;
    margin: 3% auto;
    border: 1px solid black;
    box-shadow: -6px 8px 20px 0px black;
}
h1, h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin: 5%;
}

h2 {
    font-size: 28px;
}

.container {
    width: 1070px;
    margin: 0 auto;
}

.mainContent-container {
    display: flex;   
    justify-content: space-around;
}

.mainContent-container h1 {
    margin-bottom: 10px;

}

.mainContent-income, .mainContent-outcome {
    width: 45%;
    padding: 15px;
    margin-bottom: 30px;
    border: 3px solid grey;
}


@media (max-width: 768px) {
    .mainContent-container {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .mainContent-income, .mainContent-outcome {
        width: 80%;
    }
}

.mainContent-income-inputs, .mainContent-outcome-inputs {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid grey;
}

input {
    line-height: 180%;
    padding: 5px;
}

.income-name, .outcome-name {
    width: 50%;
}

.income-val, .outcome-val {
    width: 30%;
}

button {
    padding: 5px 15px;
}

@media (max-width: 440px) {
    .mainContent-income-inputs, .mainContent-outcome-inputs {
        flex-wrap: wrap;
        gap: 4%;
        row-gap: 4%;
    }  

    .income-name, .outcome-name {
        width: 100%;
        margin-bottom: 2%;
    }
    
    .income-val, .outcome-val {
        width: 68%;
    }

    .addBtn {
        width: 28%;
    }
}

.mainContent-income-list, .mainContent-outcome-list {
    margin: 15px 0;
}

.list-element {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.list-element p {
    font-size: 20px;
    margin: 10px 0;
    text-align: right;
    justify-self: flex-start;
}

.mainContent-sum {
    font-size: 26px;
    font-weight: 700;
}

.z-index {
    z-index: 0;
}

.shadow {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1;
}


